.block3 {

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  &:after,
  &:before {
    clear: both;
    content: '';
    display: block;
  }

  &__child {
    float: left;
    padding: 20px;
    border: 2px solid #b9b9b9;

    @for $i from 1 to 12 {

      &:first-child:nth-last-child($i),
      &:first-child:nth-last-child($i) ~ .block3__child {
        width: calc(100% / $i);
      }
    }
  }
}
